MyWork/MyWork/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Insertdata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContactTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertdataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertdataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>